{
  "TOKEN": "NzcwMzkzMDYzNTU3NjkzNDky.X5c6cw.4eqJwJ5Q0qPD1jSCy5GGj8Fho_s",
  "YOUTUBE_API_KEY": "AIzaSyCaoeyAP-8QlMx1F-tl0u2800ZhSnPL4qg",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false
}
